body { 
	margin:0px; padding:0px; font-family: Segoe UI, Helvetica, sans-serif; font-size:1em;
	color: #333;
	background: #f5f5f5;
}
section { 
	margin-left:170px;
	padding: 15px;
	background:white;
}
nav { width: 150px; float:left; }
nav ul { list-style:none; padding:0px; }
nav ul li { margin-bottom:35px; font-weight:bolder; font-size:1em; }
header img {max-width:100%;} 
img {max-width:100%;} 
a, a:visited { text-decoration: none; color: #518F75;}
a:hover { text-decoration:underline; color: #27B551;}
#container
{ 
	margin-top: 20px;
	margin-left:auto;
	margin-right:auto;
	max-width: 1120px;
}
.footnotes { }
.footnotes p { display:inline; }
a[rev='footnote'] {  }

blockquote {
  border-left: 2px solid #cacaca;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}
blockquote p { }

ul { list-style-image: url("/images/bullet.png");}
#archive  { list-style: none; margin:0; padding:0;}

section li { margin-bottom: 15px; }
.active { font-weight:bolder; border-left: 2px solid #cacaca; padding-left:5px;}

h1,h2,h3,h4 
{
	font-family: Segoe UI Light, sans-serif; 
	font-weight: 100; 
	margin:0px;
	color : #B57A27;
}
.fullimagewrapper { margin-left:-15px; margin-right:-15px;}
h1 { font-size: 2.5em; line-height:1.75em;}
h2 { font-size: 2em; line-height:1.5em; }
h3 { font-size: 1.75em; line-height:1.5em;}
.date { font-size:0.8em; color: #5e4338; }
header img {border:0;}
header a { border:0;}
pre, code { overflow: auto; font-size:1em; background : #fafafa; border: 1px solid #dadada; }
pre > code { background : none; border: none; }
.highlight pre { background : none; border:none;}
.highlight { background-color: #fdf6e3; padding:5px; border: 1px solid #dadada}
.highlight .c { color: #586E75 } /* Comment */
.highlight .err { color: #93A1A1 } /* Error */
.highlight .g { color: #93A1A1 } /* Generic */
.highlight .k { color: #859900 } /* Keyword */
.highlight .l { color: #93A1A1 } /* Literal */
.highlight .n { color: #586E75  } /* Name */
.highlight .o { color: #859900 } /* Operator */
.highlight .x { color: #CB4B16 } /* Other */
.highlight .p { color: #93A1A1 } /* Punctuation */
.highlight .cm { color: #93A1A1 } /* Comment.Multiline */
.highlight .cp { color: #859900 } /* Comment.Preproc */
.highlight .c1 { color: #93A1A1} /* Comment.Single */
.highlight .cs { color: #859900 } /* Comment.Special */
.highlight .gd { color: #2AA198 } /* Generic.Deleted */
.highlight .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #DC322F } /* Generic.Error */
.highlight .gh { color: #CB4B16 } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .go { color: #93A1A1 } /* Generic.Output */
.highlight .gp { color: #93A1A1 } /* Generic.Prompt */
.highlight .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #CB4B16 } /* Generic.Subheading */
.highlight .gt { color: #93A1A1 } /* Generic.Traceback */
.highlight .kc { color: #CB4B16 } /* Keyword.Constant */
.highlight .kd { color: #268BD2 } /* Keyword.Declaration */
.highlight .kn { color: #859900 } /* Keyword.Namespace */
.highlight .kp { color: #859900 } /* Keyword.Pseudo */
.highlight .kr { color: #268BD2 } /* Keyword.Reserved */
.highlight .kt { color: #DC322F } /* Keyword.Type */
.highlight .ld { color: #93A1A1 } /* Literal.Date */
.highlight .m { color: #2AA198 } /* Literal.Number */
.highlight .s { color: #2AA198 } /* Literal.String */
.highlight .na { color: #93A1A1 } /* Name.Attribute */
.highlight .nb { color: #B58900 } /* Name.Builtin */
.highlight .nc { color: #268BD2 } /* Name.Class */
.highlight .no { color: #CB4B16 } /* Name.Constant */
.highlight .nd { color: #268BD2 } /* Name.Decorator */
.highlight .ni { color: #CB4B16 } /* Name.Entity */
.highlight .ne { color: #CB4B16 } /* Name.Exception */
.highlight .nf { color: #268BD2 } /* Name.Function */
.highlight .nl { color: #93A1A1 } /* Name.Label */
.highlight .nn { color: #93A1A1 } /* Name.Namespace */
.highlight .nx { color: #93A1A1 } /* Name.Other */
.highlight .py { color: #93A1A1 } /* Name.Property */
.highlight .nt { color: #268BD2 } /* Name.Tag */
.highlight .nv { color: #268BD2 } /* Name.Variable */
.highlight .ow { color: #859900 } /* Operator.Word */
.highlight .w { color: #93A1A1 } /* Text.Whitespace */
.highlight .mf { color: #2AA198 } /* Literal.Number.Float */
.highlight .mh { color: #2AA198 } /* Literal.Number.Hex */
.highlight .mi { color: #2AA198 } /* Literal.Number.Integer */
.highlight .mo { color: #2AA198 } /* Literal.Number.Oct */
.highlight .sb { color: #586E75 } /* Literal.String.Backtick */
.highlight .sc { color: #2AA198 } /* Literal.String.Char */
.highlight .sd { color: #93A1A1 } /* Literal.String.Doc */
.highlight .s2 { color: #2AA198 } /* Literal.String.Double */
.highlight .se { color: #CB4B16 } /* Literal.String.Escape */
.highlight .sh { color: #93A1A1 } /* Literal.String.Heredoc */
.highlight .si { color: #2AA198 } /* Literal.String.Interpol */
.highlight .sx { color: #2AA198 } /* Literal.String.Other */
.highlight .sr { color: #DC322F } /* Literal.String.Regex */
.highlight .s1 { color: #2AA198 } /* Literal.String.Single */
.highlight .ss { color: #2AA198 } /* Literal.String.Symbol */
.highlight .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268BD2 } /* Name.Variable.Class */
.highlight .vg { color: #268BD2 } /* Name.Variable.Global */
.highlight .vi { color: #268BD2 } /* Name.Variable.Instance */
.highlight .il { color: #2AA198 } /* Literal.Number.Integer.Long */



@media all and (max-width: 650px){
	nav { width: 150px; float:left; }
	section { margin-left: 150px; }
	
}

@media all and (max-width: 480px){
	nav { margin-left:10px; float:none; }
	section { margin-left: 0px; }
	header img {max-width:100%;} 
	p, code { overflow:visible; }
	h1 { font-size: 2em;}
	h2 { font-size: 1.75em; }
	h3 { font-size: 1.5em; }
}