<!DOCTYPE>
<html>
	<head>
		<meta content="en-au" http-equiv="Content-Language" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<link href="/rss.xml" type="application/rss+xml" rel="alternate" title="Blog Feed" />
		<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Blog Feed" />
		<link rel="stylesheet" type="text/css" href="/css/page.css" />
		<link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; ">
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
		<title>LimitlessLED documentation</title>
	</head>
	<body>
		<div id="container">
			<nav>
				<header><a href="/"><img src="/images/logo.png" /></a></header>
			</nav>
			<section id="content">
				{{content}}
			</section>
		</div>
	</body>
</html>