<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta content="en-au" http-equiv="Content-Language" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<title>{{ page.title }} - Viking Code</title>
		<link rel="stylesheet" type="text/css" href="/css/page.css" />
	</head>
	<body>
		<div id="container">
			<nav>
				<header><a href="/"><img src="/images/logo.png" /></a></header>
				<ul></ul>
				
				<ul>
					<li>
						{% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&larr; {{page.previous.title  |upcase }}</a> {% endif %}
					</li>
					<li>
						{% if page.next.url %} <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title  |upcase }} &rarr; </a> {% endif %}
					</li>
				</ul>
			</nav>
			<section id="content">
				<h1>{{page.title}}</h1>
				{{content}}
			</section>
		</div>
	</body>
</html>